body {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  letter-spacing: 0.03em;
}
ul,
p {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}
