.products__title {
}
.products__list {
  outline: red solid;
}
.products__item {
  outline: green solid;
}
.products__container {
  outline: gray solid;
}
.products__description {
}
.products__button {
}
