$colors: (
  'accent': #d41443,
  'accent-secondary': #ffa5ba,
  'text-primary': #ffffff,
  'text-secondary': #000000,
  'text-third': #907e82,
  'text-fourth': #ffa5ba,
  'bg-primary': #ffffff,
  'bg-secondary': #fff5f6,
  'bg-third': #f0d1a5,
  'bg-fourth': #c2e297,
  'bg-backdrop': #e17992,
  'title-primary': #d41443,
  'title-secondary': #ffffff,
  'icon-primary': #d41443,
  'icon-secondary': #ffffff,
  'icon-bg': #fea5bb,
  'button-text': #d41443,
  'button-text-secondary': #ffffff,
  'button-bg-hover': #ecebeb,
);

@function getColor($key) {
  @return map-get($colors, $key);
}

$animation-cubic: cubic-bezier(0.4, 0, 0.2, 1);
