<section class="hero-header">
  <h2>Hero Header</h2>
  <nav class="header__nav">
    <ul class="list header__list">
        <li class="header__item"><a class="header__link" href="#">Home</a></li>
        <li class="header__item"><a class="header__link" href="#">About us</a></li>
        <li class="header__item"><a class="header__link" href="#">How it’s made?</a></li>
        <li class="header__item"><a class="header__link" href="#">Our products</a></li>
        <li class="header__item"><a class="header__link" href="#">Contact</a></li>
    </ul>
</section>
