<!-- Products -->
<section class="products">
  <label>100% natural</label>
  <h2 class="products__title">products</h2>
  <ul class="products__list">
    <li class="products__item">
      <a href="./">
        <div class="products__container">
          <h3 class="products__title">ice cream</h3>
          <p class="products__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>
          <button class="products__button" type="button"></button>
        </div>
      </a>
    </li>
    <li class="products__item">
      <a href="./">
        <div class="products__container">
          <h3 class="products__title">ice coffee</h3>
          <p class="products__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>
          <button class="products__button" type="button"></button>
        </div>
      </a>
    </li>
    <li class="products__item">
      <a href="./">
        <div class="products__container">
          <h3 class="products__title">milkshakes</h3>
          <p class="products__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>
          <button class="products__button" type="button"></button>
        </div>
      </a>
    </li>
  </ul>
</section>
